@use '@angular/material' as mat;

@include mat.core();

$frontStorm-primary: mat.define-palette(mat.$indigo-palette);
$frontStorm-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$frontStorm-warn: mat.define-palette(mat.$red-palette);



$frontStorm-theme: mat.define-light-theme((color: (primary: $frontStorm-primary,
        accent: $frontStorm-accent,
        warn: $frontStorm-warn,
      )));

$strm-sidebar-color: #ffffff;


@include mat.all-component-themes($frontStorm-theme);


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.sidebar-text {
  color: $strm-sidebar-color;
}

.col-1 { flex: 0 0 8.33%; }
.col-2 { flex: 0 0 16.66%; }
.col-3 { flex: 0 0 25%; }
.col-4 { flex: 0 0 33.33%; }
.col-5 { flex: 0 0 41.66%; }
.col-6 { flex: 0 0 50%; }
.col-7 { flex: 0 0 58.33%; }
.col-8 { flex: 0 0 66.66%; }
.col-9 { flex: 0 0 75%; }
.col-10 { flex: 0 0 83.33%; }
.col-11 { flex: 0 0 91.66%; }
.col-12 { flex: 0 0 100%; }